@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #202020;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.eFTMrM::after {
    content: "";
    position: absolute;
    z-index: -10;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 1;
    background: inherit;
    border-radius: 4px;
}
.kaEhpi {
  z-index: -20;
  position: absolute;
  margin: auto;
  filter: blur(100px);
  animation: 6s linear 0s infinite normal none running ciuxCJ;
}

.eFTMrM {
    padding: 40px;
    position: relative;
    background-color: rgb(23, 24, 29);
    border: 1px solid rgba(255, 254, 241, 0.1);
}


.inputs {
  padding: 0px 15px;
  height: 48px;
  width: 100%;
  outline: none;
  cursor: text;
  margin: 0px;
  color: rgb(255, 254, 241);
  background-color: rgba(255, 254, 241, 0.05);
  border-radius: 4px;
  border: 1px solid rgba(255, 254, 241, 0.1);
  font-size: 15px;
}